node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

#firebase
config.ts

#key
constants.ts

# Google-Services
google-services.json
GoogleService-Info.plist

#config
app.json
package.json